body>table {
  width: 80%;
}

table {
  border-collapse: collapse;
}

table.list {
  width: 100%;
}

td, th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

tr:nth-child(odd), table.list thead>tr {
  background-color: teal;
}

input[type=text], input[type=number] {
  width: 100%;
  padding: 10px 0.5px;
  margin: 8px 0.6px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* 
 */

input[type=submit] {
  width: 30%;
  background-color: grey;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #bbb;
}

form div.form-action-buttons {
  text-align: right;
}

/* .action-button a {
  cursor: pointer;
  text-decoration: underline;
  color: white;
  margin-right: 4px;
} */

.hide {
  display: none;
}